:host {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 320px;
  background-color: var(--gray-900);
  color: var(--gray-100);
  padding: 24px;
}

:host a {
  color: var(--gray-100);
}

:host img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
}
